name: build-test-lint
on:
  push:
    tags: [v*]
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        go: ["1.25", "1.24"]
    name: Go ${{ matrix.go }} test
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}

      - name: Install Task
        uses: arduino/setup-task@v2
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest

      - name: Lint
        run: task lint

      - name: Test
        run: task test

      # - name: Bench
      #   run: task bench

      - name: Build
        run: task build

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          # token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.out
